*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

:root{
    --white: #fff;
    --light: #eeeeee;
    --gray: #DDDDDD;
    --dark-gray: #B9BABC;
    --semi-dark: #434242;
    --dark: #151515;
    --darker: #0F0F0F;
    --red: #D80032;
    --maroon: #C70039; 
    --poppins: 'poppins', sans-serif;
    --open-sans: 'open sans', sans-serif;
}

body{
    background-color: #f0f2f5;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--red);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darker);
  }

.main-container{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.side-navigation{
    position: sticky;
    top: 2.5%;
    width: 20%;
    height: 95vh;
    background-color: var(--dark);
    border-radius: 15px;
    transition: 0.3s ease;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 1rem;
    padding: 1.3rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2    );
}

.logo-container img{
    width: 15%;
}

.logo-container h1{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
}

.nav-lists{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.nav-lists li{
    list-style: none;
}

.nav-lists li a{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--white);
    padding: 10px 25px;
    border-radius: 5px;
    position: relative;
}
.nav-list .fa-solid{
    font-size: 1.2rem;
}


.fa{
    font-size: 0.8rem;
}

.nav-lists li a:hover:not(.active){
    background-color: rgba(107, 107, 107, 0.2);
}


.nav-lists li .active{
    background-color: var(--maroon);
}

.dropdown-content{ 
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    text-align: center;
    display: none;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 5px;
}




.main-section{
    height: 150vh;
    width: 100%;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding: 0 5%;
}

.header-title h1{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark);
}

.header-items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-group{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.item-group span{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--dark);
    text-transform: capitalize;
}

.item-group .icon{
    width: 35px;
    height: 35px;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-group .nav-btn{
    display: none;
}


.item-group span i{
    margin-left: 5px;
}

.item-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.item-group:hover{
    color: var(--maroon);
}

.header-card-container{
    margin: 2rem 0;
}

.header-card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--white);
    width: 300px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-card-icon i{
    width: 60px;
    height: 60px;
    background-color: #C70039;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.2rem;
}

.header-card-top-text{
    text-align: right;
}

.header-card-top-text span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--darker);
}

.header-card-title{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
}

.header-card-bottom{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.header-card-bottom h3{
    font-size: 0.9rem;
    font-weight: 500;
}

.header-card-bottom span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--maroon);
}

@media screen and (max-width: 767px){
    .side-navigation{
        position: fixed;
        top: 7%;
        width: 60%;
        height: 90vh;
        left: -300px;
        transition: 1s ease 100ms;
        border-radius: 10px;
    }


    .header-section{
        padding: 0;  
    }

    .item-group span{
        display: none;
    }

    .item-group .nav-btn{
        display: flex;
    }

    
    .item-profile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .item-profile img{
        width: 35px;
        height: 35px;
    }
    
    .second-header-content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .header-card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}